@model MVCtoConsumeAPI.Models.TaskEntity

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Delete</h1>

<h3 class="text-white">Are you sure about deleting this task?</h3>
<div>
    <hr class="bg-white" style="height:5px" />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Id) 
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2 fw-bold text-white">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10 fw-bold text-white">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" style="width:80px" />&nbsp;&nbsp; | &nbsp;&nbsp;
        <a asp-action="Index" class="text-white fw-bold">Back to List</a>
    </form>
</div>
