@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Tasks List";
}
<style>
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }
</style>
<div>
    <a class="btn btn-primary" asp-action="AddTask">Add Task</a>
</div>
<hr />
<div class="row col-12" style="margin-bottom: 20px;">
    @foreach (DataRow row in Model.Rows)
    {
        <div class="card @((bool)row["isCompleted"] ? "bg-success border-danger" : "bg-inf border-danger")" style="width:400px; margin-bottom: 20px;margin-left:20px;">
            <div class="card-header">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="@row["IsCompleted"]" readonly />
                </div>
                <span class="header-value @((bool)row["isCompleted"] ? "text-white" : "")">Created Date: &nbsp;@(((DateTime)row["CreatedDate"]).ToLocalTime().ToShortDateString())</span>
            </div>
            <div class="card-body @((bool)row["isCompleted"] ? "text-white" : "")">
                @row["Description"]<br />
                Completion Comment:&nbsp;@row["CompletionComment"]
                <br /><br /><span>Completion Date:&nbsp;@(((DateTime)row["CompletedDate"]).ToLocalTime().ToShortDateString())</span>
            </div>
            <div class="card-footer">
                <a class="btn btn-danger" style="width:80px" asp-action="Delete" asp-route-id="@row["id"]">Delete</a>
                <a class="btn btn-info" style="width:80px" asp-action="Edit" asp-route-id="@row["id"]">Edit</a>
            </div>
        </div>
    }
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Description")</th>
            <th>@Html.DisplayName("Completed")</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @row["Description"]
                </td>
                <td>
                    <input type="checkbox" checked=@row["IsCompleted"] readonly/>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@row["id"]">Delete</a>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@row["id"]">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@