@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Tasks List";
}

<div>
    <a class="btn btn-primary" asp-action="AddTask">Add Task</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Description")</th>
            <th>@Html.DisplayName("Completed")</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @row["Description"]
                </td>
                <td>
                    @row["IsCompleted"]
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@row["id"]">Delete</a>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@row["id"]">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>